@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(37, 67, 164) 50%,
    rgba(2, 0, 36, 1) 100%
  );
}

.containerPpal {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.containerLector {
  width: fit-content;
  margin-left: 150px;
}

.containerTabla {
  width: fit-content;
margin-right: 150px;
}
label {
  display: block;
  color: white;
  margin-bottom: 10%;
}
select {
  display: block;
  margin-bottom: 10%;
}
.containerTabla {
  width: fit-content;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(37, 67, 164) 50%,
    rgba(2, 0, 36, 1) 100%
  );
}

td {
  border: 1px solid #dddddd;
  color: #ffff;
  text-align: left;
  padding: 8px;
}

tr {
  border: 1px solid #dddddd;
  text-align: left;
}

th {
  padding: 8px;
  font-size: 18px;
  background-color: #f2f2f2;
}

button {
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #333d49;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#boton-home {
  position: absolute;
  top: 10px;
  right: 10px;
}

button:hover, button[type="submit"]:hover {
  background-color: #6e737a;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 110px;
}

.titulo h1 {
  color: #ffff;
  font-size: 44px;
}

#escogerLector{
  font-size: 1.5em;
  font-weight: bold;
}

#lector {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  margin-bottom: 18px;
  margin-top: 5px;
  color: black;
}