@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   font-family: 'Ubuntu Mono', monospace;
}

body {
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(37, 67, 164) 50%, rgba(2,0,36,1) 100%);
}

h1 {
   color: #ffff;
 }

#formulario-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   position: relative;
 }

 #container1, #container2 {
   margin: 10px;
   display: flex;
   flex-direction: column;
   height: 400px;
 }

 #container1 {
   margin-right: 250px; 
 }

 #container2 {
   margin-left: 250px; 
 }

 
 .vertical-line {
   height: 80%; 
   border-left: 5px solid #ffff; 
   margin: 0 10px; 
 }

 form {
   text-align: left; 
 }

 label {
   font-size: 20px; 
   font-weight: bold; 
   color: white;
   margin-bottom: 40px;
}

h2 {
   color: white;
   font-size: 2.5em; 
   margin-bottom: 60px;
   padding: 20px;
   text-align: center; 
 }

 #container1 input[type="text"] {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    width: 100%;
    margin-bottom: 18px;
    margin-top: 5px;
    color: black; 
 }

 #container2 input[type="text"] {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    width: 100%;
    margin-bottom: 18px;
    margin-top: 5px;
    color: black; 
 }


input[type="submit"] {
   background-color: #333d49;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: bold;
   letter-spacing: 2px;
}

button {
   padding: 10px 20px;
   font-size: 18px;
   font-weight: bold;
   background-color: #333d49;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
   background-color: #6e737a;
}

#boton-home {
   position: absolute;
   top: 10px;
   right: 10px;
}